body {
	padding: 0;
	margin: 0;

}

@font-face {
	font-family: Anton;
	src: url(../font/anton/Anton.ttf);
}

@font-face {
	font-family: Gotham;
	src: url(../font/gotham/GothamMedium.ttf);
}

.hero {
	background-image: url("../img/hero_img.png");
	display: flex;
	flex-direction: column;
	height: 768px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hero-title {
	padding: 25px;
	display: flex;
}

.hero-content {
	display: flex;
	justify-content: flex-end;
	padding-top: 75px;
	padding-bottom: 320px;
}

.hero-left {
	/*display: flex;*/
	align-items: center;
	color: #FFFFFF;
	position: relative;
	right: -5%;
}

.hero-left h2 {
	font-family: "Anton", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 80px;
	line-height: 100px;
	width: 391.53px;
	/* or 125% */
}

.hero-left p {
	width: 517.96px;
	font-family: "Gotham", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 38px;
	/* or 190% */
}

.hero-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../img/hero_gradient.png");
	padding-right: 300px;
	padding-left: 300px;
}

.hero-right-title{
	display: flex;
	justify-content: center;
	align-self: flex-start;
	margin-bottom: 45px;
}

.hero-right-logo{
	display: flex;
	width: 26px;
	padding-right: 16px;
}

.hero-right-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: flex-end;
}

.hero-right-text h2{
	font-family: Anton;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	/*line-height: 100px;*/
	/* or 250% */
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.hero-right-text p{
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	/*line-height: 85px;*/
	/* or 531% */
	padding: 0;
	margin: 0;
	color: #FFFFFF;
}

.hero-right input[type="submit"]{
	width: 269.3px;
	height: 52px;
	background: #FF6600;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border: none;
	color: #fff;
	margin-top: 60px;
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 77.02px;
}

.hero-right input[type="submit"]:focus {
	outline: none;
}

.row-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.row-1 .title h2 {
	font-family: Anton;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 61px;
	/* or 123% */
	display: flex;
	text-transform: uppercase;
	color: #002447;
}

.cards {
	display: flex;
	justify-content: space-between;
}

.card {
	background: #FFFFFF;
	opacity: 0.73;
	width: 284px;
	height: 336px;
	margin-left: 83px;
	margin-right: 83px;
	box-shadow: 0px 138px 186px rgba(186, 211, 220, 0.19), 0px 57.6531px 77.7064px rgba(0, 125, 197, 0.25), 0px 30.8241px 41.5455px rgba(186, 211, 220, 0.11326), 0px 17.2797px 23.2901px rgba(186, 211, 220, 0.095), 0px 9.17714px 12.3692px rgba(186, 211, 220, 0.0767396), 0px 3.81881px 5.1471px rgba(186, 211, 220, 0.0534177);
}

.card p {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	color: #303030;
}

.middle {
	margin-top: 55px;
}

.row-2 {
	background-image: url("../img/row-2_background.png");
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}

.row-2 .left {
	margin-right: 91px;
	margin-top: 104px;
	margin-bottom: 79px;
}

.row-2 .left img {
	height: 414px;
	width: 646px;
}

.row-2 .right .subtitle {
	display: flex;
}

.row-2 .right .subtitle h3 {
	font-family: Anton;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
	/* identical to box height, or 125% */
	margin-left: 15.93px;
	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #002447;
}

.row-2 .right p {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 25px;
	/* or 147% */
	color: #000000;
}

.row-3 {
	display: flex;
	justify-content: space-around;
	background: #F9F9F9;
	padding-top: 169px;
	padding-bottom: 169px;
}

.row-3 .subtitle {
	display: flex;
}

.row-3 .subtitle h3 {
	font-family: Anton;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
	/* identical to box height, or 125% */
	margin-left: 15.93px;
	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #002447;`
}

.row-3 .left p {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 31px;
	/* or 182% */
	color: #000000;
}

.mail-input{
	position: relative;
	display: flex;
}

.mail-input input{
	width: 412px;
	padding: 11px;
}

.mail-input input[type="email"]:focus{
	outline: none;
}

.row-3 .right {
	display: flex;
	flex-direction: column;
}

.atspan {
	width: 52px;
	height: 52px;
	background: #007DC5;
	left: -52px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row-3 input[type="submit"] {
	width: 269.3px;
	height: 52px;
	background: #FF6600;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border: none;
	color: #fff;
	margin-top: 60px;
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 77.02px;
	transition: 1s;
}

.row-3 input[type="submit"]:focus {
	outline: none;
}

.btn-skew:hover{
	webkit-transform: skew(-30deg);
	o-transform: skew(-30deg);
	transform: skew(-30deg);
	text-decoration-color: initial;
	transition: 1s;
}

.orange-button {
	width: 269.3px;
	height: 52px;
	background: #FF6600;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border: none;
	color: #fff;
	margin-top: 60px;
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 77.02px;
	transition: 1s;
}

.orange-button:hover{
	transform: skew(-30deg);
}

.orange-button:hover .btn-link{
	transform: skew(30deg);
}

.btn-link{
	transition: 1s;
}

footer {
	background-image: url("../img/footer_background.png");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50.46px;
}

footer .footer-logo {
	align-items: center;
	justify-content: center;
	display: flex;
}

footer .footer-logo .surge {
	height: 25.43px;
}

footer .footer-logo .s {
	height: 48px;
}

footer .footer-logo .strength {
	height: 25.04px;
}

footer p {
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	/* or 145% */
	text-align: center;
	color: #FFFFFF;
}

.copyright {
	font-family: Gotham Book;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	/* or 186% */
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0;
}